
@media (prefers-color-scheme: dark) {
  :root {
    /* primary theme color */
    --mh-c-primary: #42b883;
    /* page background color, the background color at the bottom of the page */
    --mh-c-page-bg: #1A1A1A;
    /* page main background color */
    --mh-c-page-main-bg: #242424;
    /* project title bottom line color */
    --mh-c-line: #ddd;
    /* base text color */
    --mh-c-text: #fff;
    /* base text const color */
    --mh-c-text-const: #fff;
    /* icons and footer text color */
    --mh-c-icons: #fff;
  }
  /* dont' write any code here */
} 