
/* root元素 html 具有dark classname 则为 darkmode */
:root.dark {
  /* primary theme color */
  --mh-c-primary: #42b883;
  /* page background color, the background color at the bottom of the page */
  --mh-c-page-bg: #1A1A1A;
  /* page main background color */
  --mh-c-page-main-bg: #242424;
  /* project title bottom line color */
  --mh-c-line: #ddd;
  /* base text color */
  --mh-c-text: #fff;
  /* base text const color */
  --mh-c-text-const: #fff;
  /* icons and footer text color */
  --mh-c-icons: #fff;

  /* for switch button */
  --mh-c-bg-dark: #1a1a1a;
  --mh-c-bg-soft: #2f2f2f;
  --mh-c-divide: rgba(84, 84, 84, .65);

  --mh-c-text-1: rgba(255, 255, 255, .87);
}
